* {
  font-family: "Poppins", sans-serif;
}

body {
  box-sizing: content-box;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("../img/29366.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
/*HEADER*/
.contenedor{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}
.menu-navegacion{
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.logo{
  height: 70px;
}
.logo img{
  display: block;
  height: 100%;
}
.enlaces li{
  list-style: none;
  display: inline-block;
}
.enlaces a{
  text-decoration: none;
  color: white;
}
/*FOOTER*/
.footer {
  display: grid;
  grid-auto-rows: auto;
  width: 100%;
  background-color: #81b214;
  padding: 0;
  bottom: 0;
}

.footer .footerHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 3px;
}

.footer .footerHead h2 {
  padding: 0;
  margin: 0;
}

.footer .footerHead img {
  padding: 0;
  margin: 0;
  width: 45px;
}

.footer .footerBody {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.footer .footerBody span {
  font-size: 20px;
  align-self: center;
  text-align: center;
  color: #595260;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.footer .footerBody span:hover {
  color: #000;
  cursor: default;
}

.footer .footerBody span a {
  font-weight: 600;
  text-decoration: none;
  color: #595260;
}

.footer .footerBody span a:hover {
  color: #000;
}

@media screen and (min-width: 400px) and (max-width: 768px) {
  .footer .footerBody {
    grid-template-columns: repeat(1, minmax(100%, 1fr));
  }
}
